@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 614px) {
    header {
        height: 92px;
        background: #CF2B2B;
        padding-left: 21px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 100%;
        position: fixed;
        z-index: 1;
    }

    header h1 {
        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 55px;
        letter-spacing: -0.012em;
        color: white;
        
    }

    header p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: white;
    }

    main {
        background: #E5E5E5;
        padding-left: 19px;
        padding-bottom: 16px;
        margin-bottom: 100px;
    }

    section.sessao-comida {
        padding-top: 123px;
    }

    .container-sessao-comida {
        display: flex;
        overflow-x: scroll;
        justify-content: space-between;
    }

    .container-sessao-comida::-webkit-scrollbar {
        display: none;
    }

    .titulo h2 {
        font-family: 'Righteous';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 32px;
        letter-spacing: 0.018em;
        margin-bottom: 17px;
        color: #333333;
    }

    .caixa-escolha {
        background-color: white;
        padding-top: 18px;
        padding-left: 14px;
        padding-right: 14px;
        margin-right: 16px;
        background: #FFFFFF;
        box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        position: relative;
        border: 5px solid transparent;
    }

    .borda_dinamica {
        border: 5px solid #32B72F;
    }

    .caixa-escolha h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #333333;
        margin-bottom: 10px;
        margin-top: 8px;
    }

    .caixa-escolha p:first-of-type {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        color: #A6A6A6;
        margin-bottom: 5px;
    }

    .caixa-escolha p:last-of-type {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: black;
    }
    /**********************************************/
    .checked {
        display: none;
        position: absolute;
        right: 8px;
        bottom: 3px;
    }
    /*********************************************/
    section.sessao-bebida {
        padding-top: 27px;
    }

    .p2-coquinha {
       padding-bottom: 8px;
    }

    .sessao-bebida .caixa-escolha:nth-child(1) {
        height: 202px;
    }

    .sessao-bebida .caixa-escolha:nth-child(2) {
        height: 202px;
    }

    .sessao-bebida .caixa-escolha:nth-child(3) {
        height: 202px;
    }

    footer {
        padding: 16px 25px;
        position: fixed;
        left: 0;
        bottom: 0;
        background-color: white;
        width: 100%;
    }

    footer button {
        width: 100%;
        height: 61px;
        background: #CBCBCB;
        border-radius: 50px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.020em;
        color: #FFFFFF;
        border: none;
        padding: 0 50px;
    }

    .btn2 {
        display: none;
        background: green;
    }

    .confirmar-pedido {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 4;
        padding: 0 19px;
        
    }

    .container-confirmar-pedido {
        width: 100%;
        height: 353px;
        background: #50D074;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        display: flex;
        justify-content: center;
    }

    .content {
        
    }

    .container-confirmar-pedido h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 21px;
    }

    .container-confirmar-pedido .informacoes {
        height: 180px;
        width: 100%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        letter-spacing: 0.018em;
        color: #FFFFFF;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

    .informacoes .col2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }

    .informacoes .col1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .container-confirmar-pedido button {
        width: 100%;
        height: 52px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.018em;
        color: #50D074;
        border-radius: 30px;
        border: 0;
        margin-top: 15px;
    }

    .container-confirmar-pedido p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.018em;
        padding: 8px;
        color: #FFFFFF;
        cursor: pointer;
    }

    .esconder {
        display: none;
    }
        
}   